<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/admin.html">
<div layout:fragment="admin_content">
    <div class="row">
        <div class="col-md-9">
            <h2 th:text="#{label.countries}"></h2>
        </div>
        <div class="col-md-3">
            <button type="button" style="background: darkslategrey;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                ADD NEW
            </button>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <td>ID</td>
                <td>NAME</td>
                <td>CODE</td>
                <td>EDIT</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="country: ${countries}">
                <td th:text="${country.getId()}"></td>
                <td th:text="${country.getName()}"></td>
                <td th:text="${country.getCode()}"></td>
                <td><button type="button" style="background: darkslategrey;" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#editData'+${country.getId()}">
                    <i class="material-icons">edit</i>
                </button></td>
                <div class="modal fade" th:id="editData+${country.getId()}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form th:action="@{'/update-country'}" method="post">
                                <input name="country_id" th:value="${country.getId()}" type="hidden">
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label>Name:</label>
                                        <input type="text" class="form-control" name="country_name" th:value="${country.getName()}">
                                    </div>
                                    <div class="form-group">
                                        <label>Code:</label>
                                        <input type="text" class="form-control" name="country_code" th:value="${country.getCode()}">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button name="save" type="submit" class="btn btn-success">SAVE</button>
                                    <button name="delete" type="submit" class="btn btn-danger">DELETE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/addcountry'}" method="post">
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" class="form-control" name="country_name">
                        </div>
                        <div class="form-group">
                            <label>Code:</label>
                            <input type="text" class="form-control" name="country_code">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add country</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>